*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
li,
button {
  text-decoration: none;
  background-color: transparent;
  list-style: none;
  outline: none;
  border: none;
}

body {
  font-size: 15px;
  font-family: "Alata", sans-serif;
  min-width: 375px;
  font-weight: 200;
}

.flex-col-center, .container .header, .container .header__nav, .container .header__nav .nav__links, .container .section, .container .footer, .container .footer_right, .container .footer_right__links, .container .footer_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  position: relative;
  width: 100%;
}

.container .header {
  position: relative;
  height: 100vh;
  color: white;
  width: 100%;
  padding: 2rem 1.5rem;
}

.container .header__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -100;
}

.container .header__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.container .header__nav {
  position: absolute;
  top: 2.5rem;
  width: 100%;
}

.container .header__nav .nav__logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
  z-index: 2;
}

.container .header__nav .nav__logo img {
  width: 45%;
}

.container .header__nav .nav__logo .nav-menu-btn {
  background-color: transparent;
}

.container .header__nav .nav__logo .nav-menu-btn .bar {
  width: 55px;
  height: 5px;
  margin-bottom: 9px;
  background-color: #fff;
}

.container .header__nav .nav__logo .nav-menu-btn .close:focus .bar1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.container .header__nav .nav__logo .nav-menu-btn .close:focus .bar2 {
  display: none;
}

.container .header__nav .nav__logo .nav-menu-btn .close:focus .bar3 {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.container .header__nav .nav__links {
  display: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
}

.container .header__nav .nav__links a {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.container .header__hero {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: white solid 3px;
  padding: 2rem 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.7rem;
  line-height: 4.3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  width: 80%;
}

.container .header__hero .break {
  display: table;
}

.container .section {
  padding: 3rem 2rem;
  position: relative;
  width: 100%;
}

.container .section1__img {
  margin: 3.75rem 0;
}

.container .section1__titel {
  padding: 2.5rem 2rem;
  text-align: center;
}

.container .section1__titel h2 {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: .4rem;
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  padding: 0 2rem;
  margin-bottom: 1.5rem;
}

.container .section1__titel h2 .break {
  display: block;
  text-align: center;
}

.container .section1__titel p {
  padding: .5rem 3rem;
  font-size: 1.65rem;
  line-height: 2;
  color: dimgray;
}

.container .section2 {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  gap: 2.5rem;
  position: relative;
  width: 100%;
}

.container .section2__itemes {
  position: relative;
}

.container .section2__itemes--titel {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  place-self: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.container .section2__itemes--btn {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  place-self: center;
}

.container .section2__itemes--btn button {
  padding: 1.5rem 4.5rem;
  border: black 2px solid;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  font-weight: 400;
  cursor: pointer;
}

.container .section2__itemes img {
  width: 100%;
}

.container .section2__itemes h3 {
  position: absolute;
  bottom: 0;
  font-size: 2.2rem;
  line-height: 1.2;
  letter-spacing: .2rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: white;
  margin-left: 2.5rem;
  margin-bottom: 2.5rem;
}

.container .section2__itemes h3 .break {
  display: table;
}

.container .footer {
  background-color: black;
  width: 100%;
}

.container .footer_right__logo {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.container .footer_right__links a {
  padding: 1rem 2rem;
  color: white;
  font-size: 1.5rem;
}

.container .footer_left {
  width: 100%;
  margin-top: 4rem;
}

.container .footer_left__social {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
}

.container .footer_left__social img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.container .footer_left__social img.fb {
  -webkit-filter: drop-shadow(#4267B2 2px 2px 15px);
          filter: drop-shadow(#4267B2 2px 2px 15px);
}

.container .footer_left__social img.tw {
  -webkit-filter: drop-shadow(#1DA1F2 2px 2px 15px);
          filter: drop-shadow(#1DA1F2 2px 2px 15px);
}

.container .footer_left__social img.pin {
  -webkit-filter: drop-shadow(#E60023 2px 2px 15px);
          filter: drop-shadow(#E60023 2px 2px 15px);
}

.container .footer_left__social img.insta {
  -webkit-filter: drop-shadow(#fd1d1d 2px 2px 15px);
          filter: drop-shadow(#fd1d1d 2px 2px 15px);
}

.container .footer_left__copy {
  color: #8c8c8c;
  margin: 2rem 0;
}

.container .footer .attribution {
  font-size: 11px;
  text-align: center;
  margin: 1rem 0;
  color: coral;
}

.container .footer .attribution a {
  color: #bdb6b6;
}
/*# sourceMappingURL=style.css.map */