*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
li,
button {
  text-decoration: none;
  color: white;
  list-style: none;
  outline: none;
  border: none;
}

body {
  font-size: 15px;
  font-family: "Alata", sans-serif;
  min-width: 375px;
  font-weight: 200;
}

.flex-col-center, .container .header, .container .header__nav, .container .header__nav .nav__links, .container .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  position: relative;
  width: 100%;
}

.container .header {
  position: relative;
  height: 100vh;
  color: white;
  width: 100%;
  padding: 2rem 1.5rem;
}

.container .header__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -100;
}

.container .header__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.container .header__nav {
  position: absolute;
  top: 2.5rem;
  width: 100%;
}

.container .header__nav .nav__logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
  z-index: 2;
}

.container .header__nav .nav__logo img {
  width: 45%;
}

.container .header__nav .nav__logo .nav-menu-btn {
  background-color: transparent;
}

.container .header__nav .nav__logo .nav-menu-btn .bar {
  width: 55px;
  height: 5px;
  margin-bottom: 9px;
  background-color: #fff;
}

.container .header__nav .nav__logo .nav-menu-btn .close:focus .bar1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.container .header__nav .nav__logo .nav-menu-btn .close:focus .bar2 {
  display: none;
}

.container .header__nav .nav__logo .nav-menu-btn .close:focus .bar3 {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.container .header__nav .nav__links {
  display: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
}

.container .header__nav .nav__links a {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.container .header__hero {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: white solid 3px;
  padding: 2rem 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.7rem;
  line-height: 4.3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  width: 80%;
}

.container .header__hero .break {
  display: table;
}

.container .section {
  padding: 3rem 2rem;
  position: relative;
  width: 100%;
}

.container .section1__img {
  margin: 3.75rem 0;
}

.container .section1__titel {
  padding: 2.5rem 2rem;
  text-align: center;
}

.container .section1__titel h2 {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: .4rem;
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  padding: 0 2rem;
  margin-bottom: 1.5rem;
}

.container .section1__titel h2 .break {
  display: block;
  text-align: center;
}

.container .section1__titel p {
  padding: .5rem 3rem;
  font-size: 1.65rem;
  line-height: 2;
  color: dimgray;
}
/*# sourceMappingURL=style.css.map */